body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f5f5 !important;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loader{
  height: 100vh;
  width: 2%;
  align-self: center;
  align-items: center;
  left: 50%;
  margin: auto;
}
.link{
  text-decoration: none;
  color: white;
}
.cat-link{
  text-decoration: none;
  color: #000000DE;
}

.cart-container{
  color: #fff;
  position: relative;
  animation: bell 1s linear infinite alternate-reverse;
  transform-origin: top;
}
.cart-container::after {
  content: attr(current-count);
  position: absolute;
  top: -20%;
  right: -20%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background-color: blue;

}
.quantity {
  display: flex;
  gap: 10px;
}
.quantity button {
  padding-inline: 20px;
}
.icons{
  height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    padding: 2px;
}
.sub-total-div {
  display: flex;
  justify-content: space-between;
}

.add-location {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cards-hidden-div{
  position: absolute;
  padding: 5px;
  top: 86%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 34px;
  transition: 200ms ease-in-out;
  background-color: white;
  transition: width 2s, height 4s;
}
.cards-hidden-div Button {
 font-size: 10px;
 padding: 5px 10px;
}
.details-description{
  max-height: 100vh;
  overflow: scroll;
}
.product-price-div{
  display: flex;
  flex-direction: column;
  gap:10px;
}
.delete-confirmation-modal-btnDiv{
  display: flex;
  justify-content: space-between;
  gap:10px;
}
.delete-confirmation-modal-btnDiv Button{
  width:50%;
}
.seller-dashboard-orders-div {
  display: flex;
  flex-direction: row;
  gap: 4%;
  padding: 30px 0px;
}
.seller-dashboard-orders-inner-div {
  display: flex;
  gap: 7%;
}
.revenue-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mini-side-bar{
  color:#1976d2;
  text-decoration: underline;
  cursor: pointer;
}
.mini-side-bar-inactive{
  cursor: pointer;
}
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1976d2;
  color: white;
  text-align: center;
}
.best-sold-cards-container {
  display: flex;
    justify-content: center;
    gap: 50px;
}
.best-sold-cards-container img{
  width: 93%;
}
.best-seller-div{
  top: 0%;
  right: 0%;
  background: #1976d2;
  color: white;
  padding: 5px 25px;
  width: 100%;
  text-align: center;
}
.buyer-order-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.buyer-order-details{
  background-color: #D5D9D9;
  width: 100%;
  height: 60px;
  padding: 10px;
  border-radius: 5px 5px 0px 0px;
  display: flex;
  justify-content: space-between;
}
.buyer-order-details-inner-div {
  display: flex;
  gap:40px;
}
.reviews {
  display: flex;
  gap: 10px;
}
.rating {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
}
.rating p{
 font-size: 8px;
}
.brand-review-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rating-details-page-div {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
.suggestions {
  position: absolute;
  background-color: #1976d2;
  color: #fff;
  top: 23px;
  z-index: 9;
  left: 29px;
}
.css-1h51icj-MuiAutocomplete-root .MuiOutlinedInput-root .MuiAutocomplete-endAdornment {
  right: 9px;
  visibility: hidden;
}
button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.MuiAutocomplete-clearIndicator.css-1glvl0p-MuiButtonBase-root-MuiIconButton-root-MuiAutocomplete-clearIndicator {
  visibility: hidden;
}
button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.MuiAutocomplete-popupIndicator.css-qzbt6i-MuiButtonBase-root-MuiIconButton-root-MuiAutocomplete-popupIndicator {
  visibility: hidden;
}
.MuiAutocomplete-root .MuiOutlinedInput-root .MuiAutocomplete-input {
  padding: 0.5px 4px 0.5px 5px;
}